@import "vars";

.map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  &.text {
    color: $font-color;
  }
}

#formContainer {
  background-color: $bright-color;
  padding: 2.5em;
  border: 1px solid #e5e7eb;
  border-radius: 5px;
  width: 20%;
  line-height: 2;
  position: absolute;
  opacity: 0.8 !important;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.marker-btn {
  background: $font-color;
  border-radius: 50%;
  padding: 1.2em;
  cursor: pointer;
  background-image: url("/marker.png");
}

.mapboxgl-popup-content {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 100%;
  opacity: 0.8;
  background-color: white;
}

.no-height {
  height: 0 !important;
}

.popUp {
  background-color: $bright-color;
  width: 40%;
  height: 40%;
  opacity: 0.8 !important;
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.projectOverlay {
  background-color: pink;
  width: 40%;
  height: 30%;
  opacity: 0.8 !important;
  display: block;
}
