@import 'vars';

.map {
  &.text {
    color: $font-color
  }

}

.marker-btn {
  background: $font-color;
  border-radius: 50%;
  padding: 1.2em;
  cursor: pointer;
  background-image: url('/marker.png');

  }
  


