@import '_vars.scss';

.attachment-component {

  .input-element {
    background-color: white;
  }

  .attachment-list {
    list-style: none;
    padding: 0;

    li {
      margin-bottom: 20px;
    }

    .author {
      opacity: 0.3;
      text-align: right;
      margin-top: 5px;
    }

    .text {
      text-align: justify;
      margin-bottom: 0
    }

    .image {
      width: 100%;
      text-align: center;
  
      img {
        max-height: 400px;
        max-width: 100%;
        border-radius: $border-radius;
      }
    }
  }
}