@import '_vars.scss';

.header {
  flex: 0 1 auto;
  padding: 5px;
  height: $header-height;
  display: flex;
  background-color: #fff;
  opacity: 0.5;
  color: black;
  pointer-events: auto;

  .left {
    display: flex;
    justify-content: center;
    align-items: center;
    height: $header-height;
    width: 50px;

    .backbutton {
      font-size: 30px;
      font-weight: bold;
      color: red;
    }

  }

  .title {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0;

    h1 {
      margin: 0;
      font-size: 1.5rem;
      text-align: center;
    }
  }

  
}