.input-element {
  text-align: center;
  padding: 5px;
  margin: 0px;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;

  input, textarea {
    font-family: monospace;
    width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    background-color: none;
    font-size: inherit;
    resize: none;
  }

  textarea:focus, input:focus{
    outline: none;
  }
}

.button-group {
  text-align: center;
  width: 80%;
  margin: 0 auto;

  button {
    display: inline-block;
    margin: 10px 5px;
    width: auto;
  }
}

.text-input {
  padding:0px;

  .input-element {
    border-radius: 0;
  }
}

.button-delete {
  transition: background-color 0.4s ease;

  &.confirm {
    background-color: red;
  }
}