.input-element {
  text-align: center;
  padding: 5px;
  margin: 0px;
  background-color: #fff;
  border-bottom: 1px solid #aaa;
  border-radius: 5px;
  font-size: 1rem;

  input {
    width: 100%;
    display: block;
    border: none;
    margin: 0;
    padding: 0;
    background-color: none;
    font-size: inherit;
  }

  textarea:focus, input:focus{
    outline: none;
  }
}

.button-group {
  display: flex;
  justify-content: center;

  button {
    margin: 10px 5px;
    width: 40%;
  }
}