@import '_vars.scss';

body, html {
  font-family: monospace;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
#app {
  margin: 0;
  padding: 0;
  height:100%;
}

.content {
  height: 100%;
  display: flex;
  flex-flow: column;
  max-width: $content-width;
  margin: 0 auto;
  
  .main-container {
    position: relative;
    overflow: hidden;
    height: 100%;
    width:100%;
    pointer-events: none;

    > div {
      white-space: pre-wrap;
    }
  }

}


h1 {
  font-size: 2rem;
  color: red;
  text-align: center;
}

h2 {
  font-size: 1.0rem;
  margin:0.3rem;
  text-align: center;
}

h3 {
  font-size: 1.0rem;
  margin:0.3rem;
  text-align: left;
}

h4 {
  margin: 5px;
}

button, .button {
  font-family: monospace;
  margin: 10px auto;
  display: block;
  background-color: #525252;
  color: #ffffff;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
  border: none;
  text-align: center;

  &:disabled {
    background-color: #ddd;
  }

  &:focus {
    outline:0;
  }
}

a {
  text-decoration: none;
  color: #000000;
}

p {
  max-width: $content-width;
}

