body, html {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* Center the content in the browser window */
#app {
  margin: auto;
  text-align: center;
  padding:10px
}

h1 {
  font-size: 3rem;
  color: #f00
}

button {
  margin: 0 auto;
  display: block;
  background-color: #000;
  color: #ffffff;
  padding: 5px 10px 5px 10px;
  font-weight: bold;
  border-radius: 5px;
  font-size: 1rem;
  width: 200px;
}