.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.storyBtn {
  color: red;
  padding: 0.5em;
  width: 10px;
  border-radius: 50%;
  background-color: #BA55D3;
}