.map-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}

.markerBorder {
  transform: translate(-50%, -50%);
  height:18px;
  width: 18px;
  border-radius: 50%;
  padding: 5px;

}
.storyBtn {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}



a.mapboxgl-ctrl-logo{
  display: none !important; 
}

.mapboxgl-ctrl-attrib-inner {
  display: none !important; 

}

.mapboxgl-ctrl-attrib.mapboxgl-compact:after {
  display: none !important; 

}
