@import '_vars.scss';

.project-info {
  padding: 10px;
  overflow:scroll;
  height:100%;

  .story-list {
    width:100%;

    ul {
      list-style-type: none;
      padding: 0;
    }

    ul:after {
      @include after-content;
    }

    li {
      background-color: lightgray;
      padding: 10px;
      margin: 10px 0px;
    }

    h4 {
      display: inline;
    }

    .date {
      float: right;
    }

    .empty {
      padding: 10px;
      text-align: center;
      width: 100%;
    }
  }
}

.project {
  @include flex-column;
  margin: $outer-margin;

  > div {
    pointer-events: auto;
  }

  &.center {
    justify-content: center;
    height:100%;
  }

  .details {
    background-color: #eeeeee;
    width: 100%;
    text-align: left;
    box-shadow: $item-shadow;

    .item-content {
      margin: 10px;
    }

    &:active {
      box-shadow: $item-shadow-clicked;
    }
  }

  .change-button {
    margin: 10px 0px;
  }

  .center-item {
    text-align: center;
    color: #666;
    width: 100%;
    max-width: 80%;

    .input-element {
      width: 80%;
      margin: 0 auto;
    }
  }

  .error {
    color: white;
    background-color: red;
    font-weight: bold;
    opacity: 0.4;
    height: 15px;
    font-size: 0.9rem;
    margin: 10px 0px;
    padding: 3px;
    border-radius: 5px;

    &:empty {
      background-color: transparent;
    }
  }
}