.recorder {
  width: 100%;

  .recording-time {
    display: flex;
    align-items: center;
    height: 40px;

    .record-circle {
      width: 30px;
      height: 30px;

      img {
        width: 100%;
        height: 100%;
        opacity: 0.4;
      }
    }

    .time {
      // padding: 5px;
    }

    .bar {
      flex: 1 1 auto;
      padding: 0 10px;
    }
  }
}

.audio-player {
  display: flex;
  justify-items: center;
  align-items: center;
  text-align: center;
  width:100%;
  height: 40px;

  .play-button {
    width: 30px;
    height: 30px;

    img {
      width: 100%;
      height: 100%;
      opacity: 0.4;
    }
  }

  .bar {
    flex: 1 1 0;
    padding: 0 10px;
  }

  .number {
    padding: 0 5px ;
  }
}