@import '_vars.scss';

.slide-container {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  pointer-events: auto;
  transition: bottom 500ms ease;

  &.fullscreen {
    height: 100%;
  }

  &.fullscreen.closed {
    bottom: -100%;
  }

  &.halfscreen {
    height: 50%;
  }

  &.halfscreen.closed {
    bottom: -50%;
  }

  .slide-inner-container {
    padding-top: 45px;
    background-color: #f0f;
    height:100%
  }

  .slide-close-button {
    position: absolute;
    top: 0;
    left: 0px;
    text-align: center;
    width: 100%;

    button {
      background: none;
      width: $icon-size-big;
      height: $icon-size-big;
      margin: 5px;
      padding: $icon-padding;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.detached {
        top: -25px;
        left: 10px;
  
        button {
          background: #fff;
          border-radius: 50%;
        }
    }
  }

  .drag-handle {
    position: absolute;
    top: 0;
    left: 100px;
    right: 100px;
    
    > div {
      margin: 8px auto;
      background: cyan;
      height: 5px;
      width: 50px;
      border-radius: 2px;
      opacity: 0.8;
    }
  }
}