@import '_vars.scss';

.story {
  overflow:scroll;
  height:100%;

  .item {
    padding: 10px;

    &.text {

      p {
        text-align: justify;
        margin: 0px
      }
    }

    .createdAt {
      margin: 0;
      font-style: italic;
      text-align: center;
      opacity: 0.4;
    }

    &.player {
      background-color: $list-item-color;
      border-radius: $border-radius;
      margin: 10px;
    }

    &.attachments {
      margin: $standard-spacing;
      border-radius: $border-radius;
      background: $list-item-color;
      
      .no-attachments {
        text-align: center;
      }
    }

  }

  .project-name {
    display: inline;
    font-weight: bold;
  }

  .story-color-icon {
    height: 30px;
    width: 30px;
    border-radius: 30px;
    float: right;
    margin-top: -8px;
  
    >div {
      height: 18px;
      width: 18px;
      border-radius: 18px;
      margin: 6px;
    }
  }

  .image {
    width: 100%;
    text-align: center;

    img {
      max-height: 400px;
      max-width: 100%;
      border-radius: $border-radius;
    }
  }

  &:after {
    @include after-content;
  }
}

