@import '_vars.scss';

.story-list {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
  padding: 5px;
  pointer-events: none;

  > div {
    pointer-events: auto;
  }

  &.center {
    justify-content: center;
  }

  .item {
    background-color: #eeeeee;
    text-align: left;
    width: 100%;
    box-shadow: $item-shadow;
    margin: 10px 0px;

    .item-content {
      margin: 10px;
    }

    .author {
      font-style: italic;
    }

    &.uploaded {
      opacity: 0.2
    }
  }

  .center-item {
    justify-self: center;
    text-align: center;
    color: #666;
    width: 100%;

    .input-element {
      width: 80%;
      margin: 0 auto;
    }
  }
}

.story {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 100%;
  flex-direction: column;
  pointer-events: none;

  > div {
    pointer-events: auto;
  }

  &.center {
    justify-content: center;
  }

  .item {
    background-color: #eeeeee;
    text-align: left;
    width: 100%;
    box-shadow: $item-shadow;
    margin: 10px 0px;

    .item-content {
      margin: 10px;
    }

    &.location {
      height: 200px;
    }

  }

  .info {
    .author {
      font-style: italic;
    }
  }

  .center-item {
    justify-self: center;
    text-align: center;
    color: #666;
  }
}