@import '_vars.scss';

.upload {
  @include flex-column;
  height:100%;
  justify-content: center;

  .center-item {
    justify-content: center;
    justify-self: center;
    text-align: center;
    color: #666;
  }

  .error {
    color: white;
    background-color: red;
    font-weight: bold;
    opacity: 0.4;
    font-size: 0.9rem;
    margin: 10px 0px;
    padding: 3px;
    border-radius: 5px;

    &:empty {
      background-color: transparent;
    }
  }
}