@import '_vars.scss';

$logo-size: 50px;

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;

  .logo {
    width: $logo-size;
    height: $logo-size;
    margin: 24px 10px;
    border-radius: 50%;

    div.outer {
      position:absolute;
      margin: 15px;
      top: 4px;
      left: 4px;
      width: $logo-size - 10px;
      height: $logo-size - 10px;
      border-radius: 50%;
      background-color: #F0455C77;
      padding: 10px;
    }

    div.inner {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #F0455C;
    } 

    img {
      position: absolute;
      width: 60px;

    }

    // @keyframes animColor {
    //   0% {
    //   background: #A3F050;
    //   background: hsl(89, 85%, 63%);  }
    //   10% {
    //   background: #53F050;
    //   background: hsl(119, 85%, 63%);  }
    //   20% {
    //   background: #50F09D;
    //   background: hsl(149, 85%, 63%);  }
    //   30% {
    //   background: #50F0EE;
    //   background: hsl(179, 85%, 63%);  }
    //   40% {
    //   background: #50A3F0;
    //   background: hsl(209, 85%, 63%);  }
    //   50% {
    //   background: #5053F0;
    //   background: hsl(239, 85%, 63%);  }
    //   60% {
    //   background: #9D50F0;
    //   background: hsl(269, 85%, 63%);  }
    //   70% {
    //   background: #EE50F0;
    //   background: hsl(299, 85%, 63%);  }
    //   80% {
    //   background: #F050A3;
    //   background: hsl(329, 85%, 63%);  }
    //   90% {
    //   background: #F05053;
    //   background: hsl(359, 85%, 63%);  }
    //   95% {
    //   background: #F09D50;
    //   background: hsl(29, 85%, 63%);  }
    //   100% {
    //   background: #A3F050;
    //   background: hsl(89, 85%, 63%);  }
    // }

  }

  
  
}