@import '_vars.scss';

.project-select {
  @include flex-column;
  margin: $outer-margin;
  justify-content: center;
  height:100%;
  align-items: stretch;
  padding: 0 10%;

  & > div {
    pointer-events: auto;
  }
  
  a {
    display:inline-block;
    width:100%;
    height:100%;
  }

  .project-select-last {
    margin-top: $standard-spacing;
    padding: 10px;
    border-radius: $border-radius;
    display: block;
    text-align: center;
    background: $button-color;

    a {
      color: $button-text-color;
      font-weight: bold;
    }
  }

  .error {
    color: white;
    background-color: red;
    font-weight: bold;
    opacity: 0.4;
    font-size: 0.9rem;
    margin: 10px 0px;
    padding: 5px;
    text-align: center;
    height: 3em;
    border-radius: 5px;
    visibility: visible;

    &:empty {
      visibility: hidden;
    }
  }

}

.project-info {
  padding: 10px;
  overflow:scroll;
  height:100%;

  p {
    text-align: justify;
  }

  .story-list {
    width:100%;

    &:after {
      @include after-content;
    }

    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      background-color: $list-item-color;
      padding: $standard-spacing;
      margin: $standard-spacing 0px;
      border-radius: $border-radius;
    }

    h4 {
      display: inline;
    }

    .date {
      float: right;
    }

    .empty {
      padding: 10px 0;
      text-align: center;
      width: 100%;
    }
  }
}

.project {
  @include flex-column;
  margin: $outer-margin;

  > div {
    pointer-events: auto;
  }

  &.center {
    justify-content: center;
    height:100%;
  }

  .details {
    background-color: #eeeeee;
    width: 100%;
    text-align: left;
    box-shadow: $item-shadow;

    .item-content {
      margin: 10px;
    }

    &:active {
      box-shadow: $item-shadow-clicked;
    }
  }

  .change-button {
    margin: 10px 0px;
  }

  .center-item {
    text-align: center;
    color: #666;
    width: 100%;
    max-width: 80%;

    .input-element {
      width: 80%;
      margin: 0 auto;
    }
  }
}