@import '_vars.scss';

.slide-container {
  position: absolute;
  bottom: 0;
  left:0;
  width: 100%;
  pointer-events: auto;
  // transition: bottom 500ms ease;
  transition: height 500ms ease;

  &.fullscreen {
    height: 100%;
  }

  &.fullscreen.closed {
    height: 0%;
  }

  &.halfscreen {
    height: 50%;
  }

  &.halfscreen.closed {
    height: 0%;
  }

  .slide-inner-container {
    padding-top: 45px;
    background-color: #ffffff;
    height:100%
  }

  .slide-close-button {
    position: absolute;
    top: 0;
    left: 0px;
    text-align: center;
    width: 100%;
    transition: top 500ms ease, left 500ms ease, opacity 500ms ease;
    left: 0px;
    top:0px;
    opacity: 1;

    button {
      background-color: transparent;
      width: $icon-size-big;
      height: $icon-size-big;
      margin: 3px;
      padding: $icon-padding;
      border-radius: 50%;
      transition: background-color 500ms ease;

      img {
        width: 100%;
        height: 100%;
      }
    }

    &.detached {
      top: -25px;
      left: 8px;

      button {
        background-color: $button-dark-color;

        img {
          // filter: invert(1);
        }
      }
    }

    &.closed {
      opacity: 0;
    }
  }

  .drag-handle {
    position: absolute;
    top: 0;
    left: 100px;
    right: 100px;
    
    > div {
      margin: 8px auto;
      background: $button-color;
      height: 5px;
      width: 50px;
      border-radius: 2px;
      opacity: 0.2;
    }
  }
}